table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  border-collapse: collapse;
  text-align: center;

  > thead {
    width: 100%;
    background-color: azure;
  }

  .start-time-head {
    width: 20%;
  }

  .title-head {
    width: 60%;
  }

  .hang-out-head {
    width: 20%;
  }

  > tbody {
    font-size: 24px;

    > tr {
      border-bottom: solid 1px #eee;
    }

    .start-time-body {
      font-size: inherit;
      color: #dcdcdc;
    }

    .summary-body {
      font-size: 18px;
    }

    .summary-body a {
      text-decoration: none;
      color: black;
    }

    .hang-out-body {
      font-size: 16px;
    }
  }
}
