.no-event-text {
  width: 100%;
  font-size: 24px;
}

.schedule-table-component {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  text-align: center;

  > table {
    width: 100%;
    border-collapse: collapse;

    > thead {
      background-color: azure;

      .start-time-head {
        width: 20%;
      }

      .title-head {
        width: 60%;
      }

      .hang-out-head {
        width: 20%;
      }
    }

    > tbody {
      font-size: 24px;
    }
  }
}
