/* 全体の設定 */
.popup-component {
  margin: 0;
  padding: 0;
  width: 550px;
  vertical-align: middle;

  table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
    text-align: center;

    > thead {
      width: 100%;
      background-color: azure;
    }

    .start-time {
      width: 20%;
    }

    .title {
      width: 60%;
    }

    .hang-out {
      width: 20%;
    }

    > tbody {
      font-size: 24px;

      > tr {
        border-bottom: solid 1px #eee;
      }

      .start-time-data {
        font-size: inherit;
        color: #dcdcdc;
      }

      .summary-data {
        font-size: 18px;
      }

      .summary-data a {
        text-decoration: none;
        color: black;
      }

      .hang-out-data {
        font-size: 16px;
      }
    }
  }
}
